@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poor+Story&family=Single+Day&display=swap');


  

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* custom css */

@keyframes fade-in {
  0%, 100%{
      opacity: 1;
      transform: rotate(0deg);
  }
  25% {
     transform: rotate(-20deg);
  }
  50%{
      transform: rotate(20deg);
      opacity: 0.5;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.welcome-animation{
  animation: slide-down 0.4s ease-in-out forwards ;
}

.to-animation {
  animation: fade-in 1s ease-in-out 0.8s infinite;
}

.shopper-animation {
  transform: translateY(100%);
  opacity: 0;
  animation: slide-up 0.8s ease-in-out 1s forwards;
}

/* Hide scrollbar for IE and Edge */
.scroll-hide {
  scrollbar-width: none; 
}

/* Custom scrollbar for WebKit browsers (such as Chrome, Safari, and Opera) */
.scroll-hide::-webkit-scrollbar {
  width: none;
}
